.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
__pycache__/
*.py[cod]
*$py.class
*.env
*.venv
venv/
ENV/
env/
.venv/
.env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg
*.egg-info/
.installed.cfg
.cache/
.mypy_cache/
.coverage
coverage.xml
htmlcov/
.ipynb_checkpoints
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.log
*.bak
*.tmp
